@model DeveloperTestWebUI.Models.ProductSearchModel
@using DTO.Entities
@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center;" class="jumbotron">
    <h1>Product search</h1>
</div>
@using (Html.BeginForm())
{
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-3">
                <h4>
                    @Html.DropDownList("SizeID", new SelectList(Model.Sizes, "Value", "Text"), "Select a size..", new { @class = "form-control" })
                </h4>
            </div>
            <div class="col-md-3">
                <h4>
                    @Html.DropDownList("ColourID", new SelectList(Model.Colours, "Value", "Text"), "Select a colour..", new { @class = "form-control" })
                </h4>
            </div>
            <div class="col-md-3">
                <h4>
                    @Html.DropDownList("BrandID", new SelectList(Model.Brands, "Value", "Text"), "Select a brand..", new { @class = "form-control" })
                </h4>
            </div>
            <div class="col-md-3">
                <h4>
                    @Html.DropDownList("CustomerID", new SelectList(Model.Customers, "Value", "Text"), "Select a customer..", new { @class = "form-control" })
                </h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Html.TextBox("searchString", null, new { @style = "width: 100%;", @class = "form-control" })
            </div>

        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <div>
                <div class="col-lg-12 col-md-12">
                    <input type="submit" value="Search" class="btn btn-block btn-success" />
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    Brand Name
                </th>
                <th>
                    Colour
                </th>
                <th>
                    Size
                </th>
                <th>
                    Product
                </th>
                <th>
                    Cost Price
                </th>
                <th>
                    Sell Price
                </th>
                <th>
                    Discounted Price
                </th>
            </tr>

            @foreach (Product item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colour.ColourName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size.SizeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountedSellPrice)
                    </td>
                </tr>
            }
        </table>
    </div>
}